<div class="flex flex-col">
  <!-- Stats Row Starts Here -->
  <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
    <!-- All Data Starts Here -->
    <div style="width: 500px !important;" class="p-4 flex flex-col">
      <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <canvas id="all_data" style="width: 100%; max-width: 600px;"></canvas>

        <script>
          var xValues = [
            'Student Under Me',
            'Total Attendance Taken',
            'Total Leave Taken',
            'Total Subject',
          ]
          var yValues = [
            '{{students_count}}',
            '{{attendance_count}}',
            '{{leave_count}}',
            '{{subject_count}}',
          ]
          var barColors = ['#e46050', '#0dcaf0', '#ffc107', '#198754']

          new Chart('all_data', {
            type: 'pie',
            data: {
              labels: xValues,
              datasets: [
                {
                  backgroundColor: barColors,
                  data: yValues,
                },
              ],
            },
            options: {
              title: {
                display: true,
                text: 'All Data',
              },
            },
          })
        </script>
      </div>
    </div>
    <!-- All Data Ends Here -->

    <!-- All data bar charts Starts Here -->
    <div style="width: 500px !important;" class="p-4 flex flex-col">
      <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <canvas id="all" style="width: 100%; max-width: 500px;"></canvas>

        <script>
          var xValues = [
            'Student under me',
            'Total Attendance Taken',
            'Total Leave Taken',
            'Total Subjects',
          ]
          var yValues = [
            '{{students_count}}',
            '{{attendance_count}}',
            '{{leave_count}}',
            '{{subject_count}}',
            0,
          ]
          var barColors = ['#e46050', '#0dcaf0', '#ffc107', '#198754']

          new Chart('all', {
            type: 'bar',
            data: {
              labels: xValues,
              datasets: [
                {
                  backgroundColor: barColors,
                  data: yValues,
                },
              ],
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'All Data',
              },
            },
          })
        </script>
      </div>
    </div>
    <!-- All data bar charts Ends Here -->
  </div>
  <!-- /Stats Row Ends Here -->
</div>

<div class="flex flex-col">
  <!-- Stats Row Starts Here -->
  <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
    <!-- Student under me and total attendance taken Starts Here  -->
    <div style="width: 500px !important;" class="p-4 flex flex-col">
      <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <canvas
          id="student_and_attendance"
          style="width: 100%; max-width: 600px;"
        ></canvas>

        <script>
          var xValues = ['Student under me', 'Total Attendance Taken']
          var yValues = ['{{students_count}}', '{{attendance_count}}']
          var barColors = ['#e46050', '#0dcaf0']

          new Chart('student_and_attendance', {
            type: 'doughnut',
            data: {
              labels: xValues,
              datasets: [
                {
                  backgroundColor: barColors,
                  data: yValues,
                },
              ],
            },
            options: {
              title: {
                display: true,
                text: 'Student and Attendance',
              },
            },
          })
        </script>
      </div>
    </div>
    <!-- student under me and total attendance taken Ends Here  -->

    <!-- Total leave and Total Subjects Charts Starts Here -->
    <div style="width: 500px !important;" class="p-4 flex flex-col">
      <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <canvas
          id="leave_and_subject"
          style="width: 100%; max-width: 500px;"
        ></canvas>

        <script>
          var xValues = ['Total Leave Taken', 'Total Subject']
          var yValues = ['{{leave_count}}', '{{subject_count}}', 0]
          var barColors = ['#ffc107', '#198754']

          new Chart('leave_and_subject', {
            type: 'bar',
            data: {
              labels: xValues,
              datasets: [
                {
                  backgroundColor: barColors,
                  data: yValues,
                },
              ],
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Leave and Subjects',
              },
            },
          })
        </script>
      </div>
    </div>
    <!-- Total Leave and Total Subjects Charts Ends Here -->
  </div>
  <!-- /Stats Row Ends Here -->
</div>
