{% extends 'base.html' %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div>
    {% include 'includes/messages.html' %}
  </div>
  <div class="page-header bg-white p-2 w-100">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Student</h3>
        <p>Dashboard / Add Student</p>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <button type="button">
          <i class="fa fa-download">&nbsp;&nbsp;Download</i>
        </button>
      </div>
    </div>
  </div>
  <div class="row g-4">
    <div class="col-sm-12" style="width: 100%;">
      <div class="bg-light rounded h-100 p-4 mb-2">
        <div><h6>Student Information</h6></div>
        <form
          method="post"
          action="{% url 'add_student' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}

          <div class="col-sm-12">
            <label for="last_name" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="last_name"
              name="last_name"
              required
            />
          </div>
          <div class="col-sm-12">
            <label for="first_name" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="first_name"
              name="first_name"
              required
            />
          </div>
          <div class="col-sm-12">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="col-sm-12">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <br />
          <div class="col-sm-12">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <br />
          <div class="col-sm-12">
            <label class="form-label" for="address">Address</label>
            <textarea
              class="form-control"
              name="address"
              id="address"
              cols="30"
              rows="10"
              required
            ></textarea>
          </div>
          <br />
          <div class="col-sm-12">
            <label class="form-label" for="gender">Gender</label>
            <select
              class="form-control"
              class="col-sm-12"
              name="gender"
              id="gender"
              required
            >
              <option value="">Select Gender &#x25be;</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
            </select>
          </div>
          <br />
          <div class="col-sm-12">
            <label class="form-label" for="course_id">Course</label>
            <select
              class="form-control"
              class="col-sm-12"
              name="course_id"
              id="course_id"
              required
            >
              <option value="">Select Course &#x25be;</option>

              {% for i in course %}
              <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>
          </div>
          <br />
          <div class="col-sm-12">
            <label class="form-label" for="session_year_id">Session</label>
            <select
              class="form-control"
              class="col-sm-12"
              name="session_year_id"
              id="session_year_id"
              required
            >
              <option value="">Select Session_Year &#x25be;</option>
              {% for i in session_year %}
              <option value="{{i.id}}">
                {{i.session_start}} To {{i.session_end}}
              </option>
              {% endfor %}
            </select>
          </div>
          <br />
          <div class="col-sm-12">
            <label for="profile_pic" class="form-label">Profile Pic</label>
            <input
              class="form-control"
              type="file"
              id="profile_pic"
              name="profile_pic"
            />
          </div>
          <br />

          <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->
{% endblock %}
