{% extends 'base.html' %} {% block content %}
<div class="col-12">
  <div>
    {% include 'includes/messages.html' %}
  </div>
  <div class="page-header bg-white -mb-8 p-4 w-100">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Course</h3>
        <p>Dashboard / Course</p>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <button type="button">
          <i class="fa fa-download">&nbsp;&nbsp;Download</i>
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white rounded h-100 p-4">
    <div class="table-responsive">
      <table
        id="dataTable"
        class="table table-striped display nowrap compact hover"
        style="width: 100%;"
      >
        <thead style="background-color: #040a27;">
          <tr style="color: #41e2d5;">
            <th scope="col">Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for i in course %}
          <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.name}}</td>
            <td>{{i.created_at}}</td>
            <td>{{i.updated_at}}</td>
            <td>
              <a href="{% url 'edit_course' i.id %}">
                <button
                  type="button"
                  style="color: white; border-radius: 5px; font-size: 16px;"
                  class="p-1 m-1 w-20 bg-primary"
                >
                  Edit
                </button>
              </a>
              <a href="{% url 'delete_course' i.id %}">
                <button
                  type="button"
                  style="color: white; border-radius: 5px; font-size: 16px;"
                  class="p-1 m-1 w-20 bg-danger"
                >
                  Delete
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot style="background-color: #040a27;">
          <tr style="color: #41e2d5;">
            <th>Id</th>
            <th>Course Name</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %}
